{{!< layout}}


<div class="ac-content">
    <div class="container">
        <div class="row">
            <div id="breadcrumb" class="span12">
            </div>
        </div>
        <div class="row">
            <div id="content" class="span12">
                <div id="progress-bar" class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
                <div id="error-alert" class="alert alert-block alert-error fade hidden">
                    <h4 class="alert-heading">Oh snap! You got an error!</h4>
                    <p>An error occurred while loading. Reload this page to try again.</p>
                    <p><a class="btn" href="">Reload</a></p>
                </div>
            </div>
        </div>
        <hr/>
        <footer>
            <p class="muted">&copy; 2013 Atlassian &bull; Fork me on <a href="https://bitbucket.org/jali/atlassian-directory">Bitbucket</a></p>
        </footer>
    </div>
</div>

<script src="{{furl '/js/addon.js'}}"></script>

<!--From Directory-->
<script src="{{furl 'js/jquery.min.js'}}"></script>
<script src="{{furl 'js/lodash.min.js'}}"></script>
<script src="{{furl 'js/backbone-min.js'}}"></script>
<script src="{{furl 'js/bootstrap.min.js'}}"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&region=AU&sensor=false&key=AIzaSyBOqXv_ox7E5CU9u9gznL8q8m2DL3SQf88"></script>
<script src="{{furl 'js/richmarker-compiled.js'}}"></script>
<script src="{{furl 'js/utils.js'}}"></script>
<script src="{{furl 'js/models/basemodel.js'}}"></script>
<script src="{{furl 'js/models/employeemodel.js'}}"></script>
<script src="{{furl 'js/models/locationmodel.js'}}"></script>
<script src="{{furl 'js/views/employeelist.js'}}"></script>
<script src="{{furl 'js/views/search.js'}}"></script>
<script src="{{furl 'js/views/header.js'}}"></script>
<script src="{{furl 'js/views/home.js'}}"></script>
<script src="{{furl 'js/views/map.js'}}"></script>
<script src="{{furl 'js/views/employeedetails.js'}}"></script>
<script src="{{furl 'js/views/breadcrumb.js'}}"></script>
<script src="{{furl 'js/router-small.js'}}"></script>
<script src="{{furl 'js/main.js'}}"></script>
