<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{furl 'css/styles.css'}}" rel="stylesheet"/>
    <link href="{{furl 'css/map.css'}}" rel="stylesheet"/>
    <link href="{{furl 'css/bootstrap.min.css'}}" rel="stylesheet"/>
    <link href="{{furl 'css/bootstrap-responsive.min.css'}}" rel="stylesheet"/>
    <link href="{{furl 'css/font-awesome.min.css'}}" rel="stylesheet"/>

    <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
</head>

<body>
{{{body}}}
</body>
</html>
