.map-popover {
    -webkit-transform: translateZ(0);
}

.map-container {
  	position: relative;
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	padding: 10px;
  	border: 1px solid #ABABAB;
}

.map-canvas {
  	height: 700px;
  	border: 1px solid #ABABAB;
}

.map-canvas img {
	max-width: none;
}

.img-placeholder img {
	max-height: 100%;
}

.person .img-placeholder::after {
	display: inline-block;
	height: 100%;
	content: '';
	vertical-align: middle;
}

.map-popover.person .popover-title {
	padding: 0 8px;
}

.person .popover-title * {
	display: block;
}

.person .popover-title .popover-department {
	color: white;
	opacity: .8;
	font-size: smaller;
}

.img-placeholder img {
	max-width: 100%;
}

.person .img-placeholder img:not(.charlie) {
	height: 100%;
	width: 100%;
}

.map-toolbox {
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	z-index: 1000;
  	background: white;
  	padding: 0 0 5px 10px;
  	-moz-border-radius-bottomleft: 3px;
  	-webkit-border-bottom-left-radius: 3px;
  	border-bottom-left-radius: 3px;
  	border-left: 1px solid #ABABAB;
	border-bottom: 1px solid #ABABAB;
  	font-weight: bold;
}

.map-toolbox .pagination {
  	margin: 0;
}

.map-toolbox.map-side-panel {
	top: 51px;
	height: 647px;
  	-moz-border-radius-topleft: 3px;
  	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
  	-moz-border-radius-bottomleft: 0;
  	-webkit-border-bottom-left-radius: 0;
  	border-bottom-left-radius: 0;
	background: hsla(0, 100%, 100%, 0.8);
	border-bottom: 0;
	width: 189px;
	padding: 1em 0 0 1em;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	overflow: hidden;
}

.map-toolbox.map-side-panel legend {
	font-size: 19px;
	white-space: nowrap;
}

.map-toolbox.map-side-panel.closed {
	width: 0;
}

.map-side-panel-trigger {
	position: absolute;
	left: 0;
	width: 1em;
	top: 0;
	height: 100%;
}

.map-side-panel-trigger:hover {
	background: whiteSmoke;
}

.map-side-panel-trigger::before {
	position: absolute;
	left: 4px;
	top: 300px;
	font-family: FontAwesome;
	font-size: large;
	content: "\f0da";
}

.map-popover .popover-title {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-height: 20px;
}

.closed .map-side-panel-trigger::before {
	content: "\f0d9";
}

.map-popover.popover {
	display: block;
	width: auto;
	cursor: default;
  max-width: 475px;
}

.map-popover .img-placeholder {
	display: inline-block;
	height: 36px;
	width: 27px;
}

.map-popover .popover-content > * {
	vertical-align: top;
}

.map-popover .popover-title {
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	display: inline-block;
	overflow: hidden;
	max-width: 500px;
	border: 0;
}

:not(.focus) > .map-popover:not(:hover) .popover-title {
	max-width: 0;
	padding-left: 0;
	padding-right: 0;
}

.focus .map-popover {
	z-index: 1900;
}

.map-popover:hover {
	z-index: 2000;
}

.focus .map-popover, .map-popover:hover {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.map-popover .popover-content {
	padding: 3px;
	white-space: nowrap;
}

.map-popover.popover.top .arrow {
	left: 20px;
	margin-left: -9px;
	border-right-width: 5px;
	border-left-width: 5px;
	border-top-color: rgba(0, 0, 0, 0.5);
}

.map-popover.popover.top .arrow::after {
	border: 0;
}

.map-popover.popover a {
	color: white;
}

.map-popover.popover a:hover {
	opacity: .9;
}

.map-popover.misc.printer .popover-content::before {
	font-family: FontAwesome;
	font-size: x-large;
	vertical-align: bottom;
	line-height: .9em;
	margin: 3px;
	position: relative;
	top: -2px;
	color: #08C;
	content: "\f02f";
}

/* management and others */
.map-popover.popover.global-management, .map-popover.popover.global-management .popover-title, .map-popover.popover.experts, .map-popover.popover.experts .popover-title, .map-popover.popover.customer-advocates, .map-popover.popover.customer-advocates .popover-title, .map-popover.popover.business-operations, .map-popover.popover.business-operations .popover-title, .map-popover.popover.business-platform, .map-popover.popover.business-platform .popover-title, .map-popover.popover.program-management, .map-popover.popover.program-management .popover-title, .map-popover.popover.administration, .map-popover.popover.administration .popover-title, .map-popover.popover.customer-experience, .map-popover.popover.customer-experience .popover-title {
	background-color: hsl(8, 60%, 32%);
}

.map-popover.popover.top.global-management .arrow, .map-popover.popover.top.experts .arrow, .map-popover.popover.top.customer-advocates .arrow, .map-popover.popover.top.business-operations .arrow, .map-popover.popover.top.business-platform .arrow, .map-popover.popover.top.program-management .arrow, .map-popover.popover.top.administration .arrow, .map-popover.popover.top.customer-experience .arrow {
	border-top-color: hsl(8, 60%, 32%);
}

/* security */
.map-popover.popover.security, .map-popover.popover.security .popover-title {
	background-color: hsl(168, 60%, 32%);
}

.map-popover.popover.top.security .arrow {
	border-top-color: hsl(168, 60%, 32%);
}

/* confluence */
.map-popover.popover.confluence, .map-popover.popover.confluence .popover-title {
	background-color: hsl(104, 60%, 32%);
}

.map-popover.popover.top.confluence .arrow {
	border-top-color: hsl(104, 60%, 32%);
}

/* jira family */
.map-popover.popover.jira, .map-popover.popover.jira .popover-title, .map-popover.popover.jira-agile, .map-popover.popover.jira-agile .popover-title, .map-popover.popover.service-desk, .map-popover.popover.service-desk .popover-title, .map-popover.popover.jira-service-desk, .map-popover.popover.jira-service-desk .popover-title {
	background-color: hsl(210, 60%, 32%);
}

.map-popover.popover.top.jira .arrow, .map-popover.popover.top.jira-agile .arrow, .map-popover.popover.top.service-desk .arrow, .map-popover.popover.top.jira-service-desk .arrow {
	border-top-color: hsl(210, 60%, 32%);
}

/* talent */
.map-popover.popover.talent, .map-popover.popover.talent .popover-title, .map-popover.popover.recruitment, .map-popover.popover.recruitment .popover-title {
	background-color: hsl(240, 60%, 32%);
}

.map-popover.popover.top.talent .arrow, .map-popover.popover.top.recruitment .arrow {
	border-top-color: hsl(240, 60%, 32%);
}

/* dev tools */
.map-popover.popover.bamboo, .map-popover.popover.bamboo .popover-title, .map-popover.popover.fisheye-crucible, .map-popover.popover.fisheye-crucible .popover-title, .map-popover.popover.stash, .map-popover.popover.stash .popover-title, .map-popover.popover.dev-tools-family, .map-popover.popover.dev-tools-family .popover-title {
	background-color: hsl(280, 60%, 32%);
}

.map-popover.popover.top.bamboo .arrow, .map-popover.popover.top.fisheye-crucible .arrow, .map-popover.popover.top.stash .arrow, .map-popover.popover.top.dev-tools-family .arrow {
	border-top-color: hsl(280, 60%, 32%);
}

/* support */
.map-popover.popover.support-apac, .map-popover.popover.support-apac .popover-title, .map-popover.popover.support-projects, .map-popover.popover.support-projects .popover-title {
	background-color: hsl(160, 60%, 32%);
}

.map-popover.popover.top.support-apac .arrow, .map-popover.popover.top.support-projects .arrow {
	border-top-color: hsl(160, 60%, 32%);
}

/* engineering services */
.map-popover.popover.hosted-engineering, .map-popover.popover.hosted-engineering .popover-title, .map-popover.popover.hoist, .map-popover.popover.hoist .popover-title, .map-popover.popover.hops, .map-popover.popover.hops .popover-title, .map-popover.popover.build-engineering, .map-popover.popover.build-engineering .popover-title, .map-popover.popover.hit, .map-popover.popover.hit .popover-title, .map-popover.popover.performance, .map-popover.popover.performance .popover-title {
	background-color: hsl(248, 60%, 32%);
}

.map-popover.popover.top.hosted-engineering .arrow, .map-popover.popover.top.hoist .arrow, .map-popover.popover.top.hops .arrow, .map-popover.popover.top.build-engineering .arrow, .map-popover.popover.top.hit .arrow, .map-popover.popover.top.performance .arrow {
	border-top-color: hsl(248, 60%, 32%);
}

/* platform engineering */
.map-popover.popover.platform-engineering, .map-popover.popover.platform-engineering .popover-title, .map-popover.popover.crowd, .map-popover.popover.crowd .popover-title {
    background-color: hsl(328, 60%, 32%);
}

.map-popover.popover.top.platform-engineering .arrow, .map-popover.popover.top.crowd .arrow {
	border-top-color: hsl(328, 60%, 32%);
}

/* aui */
.map-popover.popover.aui, .map-popover.popover.aui .popover-title {
	background-color: hsl(352, 60%, 32%);
}

.map-popover.popover.top.aui .arrow {
	border-top-color: hsl(352, 60%, 32%);
}

/* accounting and finance */
.map-popover.popover.accounting, .map-popover.popover.accounting .popover-title, .map-popover.popover.tax, .map-popover.popover.tax .popover-title {
	background-color: hsl(320, 60%, 32%);
}

.map-popover.popover.top.accounting .arrow, .map-popover.popover.top.tax .arrow {
	border-top-color: hsl(320, 60%, 32%);
}

/* product growth */
.map-popover.popover.product-growth-, .map-popover.popover.product-growth- .popover-title {
	background-color: hsl(224, 60%, 32%);
}

.map-popover.popover.top.product-growth- .arrow {
	border-top-color: hsl(224, 60%, 32%);
}

/* sysadmin */
.map-popover.popover.systems-administration, .map-popover.popover.systems-administration .popover-title, .map-popover.popover.it-operations, .map-popover.popover.it-operations .popover-title, .map-popover.popover.atlasdesk, .map-popover.popover.atlasdesk .popover-title {
	background-color: hsl(24, 60%, 32%);
}

.map-popover.popover.top.systems-administration .arrow, .map-popover.popover.top.it-operations .arrow, .map-popover.popover.top.atlasdesk .arrow {
	border-top-color: hsl(24, 60%, 32%);
}