body {
    padding-top: 60px;
    overflow-x: hidden;
}

.navbar-search-dropdown {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list-item {
    padding: 5px 10px !important;
    white-space: nowrap;
}

.list-item img {
    width: 50px !important;
    height: 65px !important;
}

.list-item p {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
    margin-right: 60px;
    vertical-align: middle;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.list-category {
    font-weight: bold;
}

.no-reports {
    display: none;
}

.brand {
    padding: 7px 20px 8px !important;
}

.brand img {
    height: 35px;
}

.hero-unit {
    margin-top: 50px !important;
    margin-bottom: 300px !important;
}

hr {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
}

.employee-header {
    padding: 0 8px 8px;
    white-space: nowrap;
}

.employee-title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    white-space: normal;
    max-width: 70%;
}

.employee-detail {
    margin: 10px 0;
}

.typeahead.dropdown-menu {
    z-index: 1030;
}

.portrait {
    width: 100px;
    height: 130px;
}

img:-moz-broken {
    -moz-force-broken-image-icon: 1;
}

.navbar-search input[type="search"] {
    margin-bottom: 0;
    margin-right:20px;
}

img.female {
    -webkit-filter: hue-rotate(120deg);
    filter: hue-rotate(120deg);
}

.typeahead.dropdown-menu .active > a, .typeahead.dropdown-menu .active > a:hover {
    color: white;
}

#progress-bar {
    margin-bottom: 100px !important;

}
