<a class="list-item" href="#employees/<%= username %>" title="<%= full_name %> - <%= title %>">
    <img class="img-polaroid" width="50" height="65" src="http://downloads.atlassian.com/videos/staff/<%= username %>.jpg"/>
    <p><span class="name"><%= full_name %></span> (<%= descendants || 0 %>)<br /><%= title %></p>
</a>
