<% if (username) { %>
<div class="employee-header">
	<img class="img-polaroid portrait" width="100" height="130" src="http://downloads.atlassian.com/videos/staff/<%= username %>.jpg"/>
	<div class="employee-title">
		<h1><%= full_name %></h1>
		<h3><%= title %></h3>
	</div>
</div>
<% } %>

<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>Status:</h6></td>
                <td>
		            <%
		            if (status)
		            {
		            %>
						<div class="employee-detail"><i class="icon-user"></i> <%= status %></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Manager:</h6></td>
                <td>
            		<%
            		if (manager)
            		{
            		%>
                		<div class="employee-detail"><i class="icon-user"></i> <a href='#employees/<%= manager_username %>'><%= manager.full_name %></a></div>
            		<%
            		}
            		%>
                </td>
            </tr>
            <tr>
                <td><h6>Division:</h6></td>
                <td>
		            <%
		            if (division)
		            {
		            %>
						<div class="employee-detail"><i class="icon-sitemap"></i> <%= division %></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Department:</h6></td>
                <td>
		            <%
		            if (department)
		            {
		            %>
						<div class="employee-detail"><i class="icon-group"></i> <%= department %></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Location:</h6></td>
                <td>
		            <%
		            if (office_location || location)
		            {
		            %>
						<div class="employee-detail"><i class="icon-globe"></i> <a href="#map/<%= username %>"><%= office_location || location %></a></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Date Joined:</h6></td>
                <td>
		            <%
		            if (hire_date)
		            {
		            %>
						<div class="employee-detail"><i class="icon-certificate"></i> <%= hire_date %></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <%
            if (termination_date)
            {
            %>
            <tr>
                <td><h6>Date Terminated:</h6></td>
                <td>
					<div class="employee-detail"><i class="icon-certificate"></i> <%= termination_date %></div>
				</td>
            </tr>
            <%
			}
			%>
            <tr>
                <td><h6>Employee number:</h6></td>
                <td>
		            <%
		            if (number)
		            {
		            %>
						<div class="employee-detail"><i class="icon-money"></i> <%= number %></div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Employee position:</h6></td>
                <td>
		            <%
		            if (number)
		            {
		            %>
						<div class="progress inTable" style="margin: 10px 0;" title="Employee #: <%= number %> of <%= employees.length %> (<%= (number/employees.length*100).toFixed(1) %>%)">
							<div class="bar bar-success" style="width: <%= (number / employees.length)*100 %>%;"></div>
							<div class="bar" style="width: <%= (1 - (number / employees.length))*100 %>%;"></div>
						</div>
			        <%
			        }
			        %>
				</td>
            </tr>
            <tr>
                <td><h6>Mobile Phone:</h6></td>
                <td>
		            <%
		            if (phone_mobile)
		            {
		            %>
						<div class="employee-detail"><i class="icon-phone"></i> <a href="tel://<%= phone_mobile.replace(/\D/g, '') %>"><%= phone_mobile.replace(/\D/g, '') %></a></div>
		            <%
		            }
		            %>
				</td>
            </tr>
            <tr>
                <td><h6>Email:</h6></td>
                <td>
		            <%
		            if (email)
		            {
		            %>
						<div class="employee-detail"><i class="icon-envelope"></i> <a href="mailto:<%= email %>"><%= email %></a></div>
			        <%
			        }
			        %>
				</td>
            </tr>
        </table>
    </div>
</div>
