<div class="row">
    <div id="details" class="span7"></div>
    <div class="span5">
        <div id="reports" class="well">
            <h3 class="modal-header">Reports</h3>
            <div class="alert alert-info no-reports">
                <h4 class="alert-heading">Info</h4>
                <%= full_name %> has no reports
            </div>
        </div>
    </div>
</div>
