<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#"><img src="img/logoAtlassian.svg"/></a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="employees-menu"><a href="#employees">Person</a></li>
                    <li class="map-menu"><a href="#map">Map</a></li>
                </ul>
                <form class="navbar-search pull-right">
                </form>
            </div>
        </div>
    </div>
</div>