<div class="hero-unit">
    <h1>Atlassian Directory (AC Edition)</h1>

    <div class="row" style="margin-top: 60px;">
        <div class="span3">
            <img src="img/org_chart.svg"/>
        </div>
        <div class="span7">
            <form class="navbar-search">
            </form>
            <p style="margin-top: 75px;">
                Welcome to the Atlassian Directory, Atlassian Connect Edition. To get started, enter the name of the person you are looking for in the search bar.
            </p>
        </div>
    </div>
</div>
