<div class="map-container">
    <div class="map-toolbox">
		<div class="pagination">
		  <ul>
		    <li class="disabled"><span>Level</span></li>
		    <li id="level-2"><a href="#map/2">2</a></li>
		    <li id="level-3"><a href="#map/3">3</a></li>
		    <li id="level-6"><a href="#map/6">6</a></li>
		    <li id="level-7"><a href="#map/7">7</a></li>
		  </ul>
		</div>
    </div>
    <div class="map-toolbox map-side-panel <%= isPanelClosed %>">
    	<a class="map-side-panel-trigger" href="#"></a>
    	<form action="https://docs.google.com/a/atlassian.com/spreadsheet/formResponse?formkey=dEF6VDJoaXJxWDJCWWh6dllVNVJQNFE6MQ" method="post" target="_blank">
    		<legend>Update My Location</legend>
			<div class="control-group">
				<label class="control-label" for="inputUsername">Username</label>
				<div class="controls">
			  		<input name="entry.0.single" type="text" id="inputUsername" placeholder="Username" class="input-medium" required autocomplete="off">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLatitude">Latitude</label>
				<div class="controls">
			  		<input name="entry.1.single" type="text" id="inputLatitude" placeholder="Latitude" class="input-medium" title="Click on a point on the map to populate this field" required readonly>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLongitude">Longitude</label>
				<div class="controls">
			  		<input name="entry.2.single" type="text" id="inputLongitude" placeholder="Longitude" class="input-medium" title="Click on a point on the map to populate this field" required readonly>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputLevel">Level</label>
				<div class="controls">
					<select id="inputLevel" name="entry.3.single" class="input-mini" required>
						<option disabled></option>
						<option>2</option>
						<option>3</option>
						<option>6</option>
						<option>7</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
			  		<input type="submit" class="btn"/>
				</div>
			</div>
		</form>
    </div>
    <div id="map-canvas" class="map-canvas"></div>
</div>