<a class="list-item" href="#map/<%= id %>" title="<%= name %><% if (desc) { %> (<%= desc %>)<% } %>">
    <img class="img-polaroid" width="50" height="65" src="img/<% if (type == "Room") { %>rooms/<%= id %><% } else { %>atlassian-charlie<% } %>.svg"/>
    <p><%= name %><% if (desc) { %> (<%= desc %>)<% } %></p>
</a>