<div class="popover top map-popover misc <%= type.toLowerCase() %>" data-id="<%= id %>">
	<div class="arrow"></div>
	<div class="popover-content">
		<% if (type == "Room") { %><div class="img-placeholder"><img src="img/rooms/<%= id %>.svg"/></div><% } %><h3 class="popover-title"><%= name %><% if (desc) { %> (<%= desc %>)<% } %></h3>
	</div>
</div>