<div class="popover top map-popover person <%= className %>" data-id="<%= username %>">
	<div class="arrow"></div>
	<div class="popover-content">
		<div class="img-placeholder"><img src="http://downloads.atlassian.com/videos/staff/<%= username %>.jpg" onerror="this.src='img/atlassian-charlie.svg'; this.className='charlie <%= gender.toLowerCase() %>';"/></div><h3 class="popover-title"><a href="#employees/<%= username %>"><%= full_name %></a><span class="popover-department"><%= department %></span></h3>
	</div>
</div>